/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --main-padding: 100px 0px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* header */
.header {
  background-color: #fff;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}
.logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .logo {
    width: 100%;
    height: 50px;
  }
}
.nav-bar {
  display: flex;
  height: 72px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

@media (max-width: 767px) {
  .nav-bar {
    margin: auto;
    height: 42px;
  }
}

.nav-bar > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  font-size: 16px;
  transition: var(--main-transition);
}

@media (max-width: 767px) {
  .nav-bar > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}

.nav-bar > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
.nav-bar > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.nav-bar > li > a:hover::before {
  left: 0;
}

.mega-menu {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 30px;
  border-bottom: 4px solid var(--main-color);
  background-color: white;
  z-index: -1;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  opacity: 0;
  transition: var(--main-transition);
}

.nav-bar > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}

@media (max-width: 767px) {
  .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
.mega-menu .image img {
  max-width: 100%;
}

@media (max-width: 991px) {
  .mega-menu .image {
    display: none;
  }
}

.mega-menu .links {
  min-width: 240px;
  flex: 1;
}
.mega-menu .links li {
  position: relative;
}

.mega-menu .links li:not(:last-child) {
  border-bottom: 2px solid #e9e6e6;
}

@media (max-width: 767px) {
  .mega-menu .links:first-of-type li:last-child {
    border-bottom: 2px solid #e9e6e6;
  }
}
.mega-menu .links li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: 0.4s;
  border-radius: 3px;
}

.mega-menu .links li:hover::before {
  width: 100%;
}
.mega-menu .links li a {
  color: var(--main-color);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
.mega-menu .links li a i {
  margin-right: 10px;
}
/* header */
/* landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -30px;
  left: 0;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}

.landing-img img {
  width: 600px;
  position: relative;
  animation: up-and-down 5s linear infinite;
}

@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}

@media (max-width: 850px) {
  .landing-img {
    display: none;
  }
}
.landing .container .text {
  flex: 1;
}

@media (max-width: 850px) {
  .landing .container .text {
    text-align: center;
  }
}
.landing .container .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
}

@media (max-width: 767px) {
  .landing .container .text h1 {
    font-size: 28px;
  }
}
.landing .container .text p {
  font-size: 24px;
  margin: 10px 0px;
  line-height: 1.7;
  color: rgb(126, 123, 123);
  max-width: 500px;
}
@media (max-width: 850px) {
  .landing .container .text p {
    margin: 10px auto;
    font-size: 18px;
  }
}
.go-down {
  position: absolute;
  color: var(--main-color);
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.go-down i {
  animation: bouncing 1.5s infinite;
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-10px);
  }
}

.go-down:hover {
  color: var(--main-color-alt);
}

/* landing */
/* main title */
.title {
  padding: 10px;
  border: 2px solid black;
  margin: 0 auto 80px;
  width: fit-content;
  position: relative;
  transition: var(--main-transition);
  z-index: 10;
}
.title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}

.title::before,
.title::after {
  content: "";
  position: absolute;
  top: 51%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
}
.title::before {
  left: -30px;
}
.title::after {
  right: -30px;
}
.title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

/* main title */

/* Articles */
.articles {
  padding: var(--main-padding);
  /* background-color: white; */
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .container .box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  border-radius: 6px;
  overflow: hidden;
  transition: var(--main-transition);
}
.articles .container .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .container .box img {
  max-width: 100%;
}

.articles .container .box .content {
  padding: 20px;
}
.articles .container .box .content h3 {
  margin: 0;
}
.articles .container .box .content p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: #777;
}
.articles .container .box .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles .container .box .info a {
  color: var(--main-color);
  font-weight: bold;
}

.articles .container .box .info i {
  color: var(--main-color);
}

.articles .container .box:hover .info i {
  transition: var(--main-transition);
  animation: moving 0.6s linear infinite;
}

@keyframes moving {
  100% {
    transform: translateX(10px);
  }
}
/* Articles */
/* Gallery */
.gallery {
  padding: var(--main-padding);
  background-color: var(--section-background);
}

.gallery .title:hover {
  border: 2px solid var(--section-background);
}

.gallery .container .box img {
  max-width: 100%;
}
.gallery .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}
.gallery .container .box {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
}

.gallery .container .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  background-color: rgba(255, 255, 255, 0.233);
  opacity: 0;
  z-index: 2;
}
.gallery .container .box .image:hover:before {
  animation: flashing 0.7s;
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
.gallery .container .box .image img {
  transition: var(--main-transition);
}
.gallery .container .box .image:hover img {
  transform: rotate(5deg) scale(1.2);
}
/* Gallery */

/* features */
.features {
  padding: var(--main-padding);
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .container .box {
  border: 1px solid #cccccc;
}
.features .container .box .image-holder {
  position: relative;
  overflow: hidden;
}
.features .container .box .image-holder::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.205);
}
.features .container .Quality .image-holder::before {
  background-color: #b8533f7a;
}
.features .container .Time .image-holder::before {
  background-color: #64bfb470;
}
.features .container .Passion .image-holder::before {
  background-color: #328bad80;
}
.features .container .box .image-holder:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 94px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}
.features .container .box:hover .image-holder:after {
  border-width: 170px 500px 170px 0;
}
.features .container .box .image-holder img {
  max-width: 100%;
}
.features .container .box h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  width: fit-content;
  margin: auto;
  padding-top: 20px;
}
.features .container .box h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translatex(-50%);
  width: calc(100% - 30px);
  height: 4px;
}
.features .container .Quality h2:after {
  background-color: red;
}
.features .container .Time h2:after {
  background-color: #009688;
}
.features .container .Passion h2:after {
  background-color: #03a9f4;
}
.features .container .box p {
  padding: 25px;
  text-align: center;
  line-height: 1.7;
  font-size: 20px;
  color: #777;
}

.features .container .box a {
  margin: 20px auto;
  display: block;
  text-align: center;
  padding: 8px 20px;
  border: 2px solid red;
  width: fit-content;
  border-radius: 5px;
  color: red;
  font-weight: bold;
  position: relative;
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;
}
.features .container .box a:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0%;
  width: 0%;
  height: 100%;
  background-color: red;
  transition: 0.7s;
  z-index: -1;
}
.features .container .box:hover a:after {
  width: 100%;
}
.features .container .box:hover a {
  color: white;
}
/* features */

/* testimonials */
.testimonials {
  padding: var(--main-padding);
  background-color: var(--section-background);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 80px;
  padding-top: 54px;
}

.testimonials .container .dev {
  position: relative;
  background-color: white;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  padding: 15px;
  border-radius: 5px;
  margin-right: 30px;
}
.testimonials .container .dev::after {
  position: absolute;
  content: "";
  background-image: url(../images/avatar-01.png);
  background-size: contain;
  top: -56px;
  right: -43px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid var(--section-background);
}
.testimonials .container .dev2::after {
  background-image: url(../images/avatar-02.png);
}
.testimonials .container .dev3::after {
  background-image: url(../images/avatar-03.png);
}
.testimonials .container .dev4::after {
  background-image: url(../images/avatar-04.png);
}
.testimonials .container .dev5::after {
  background-image: url(../images/avatar-05.png);
}
.testimonials .container .dev6::after {
  background-image: url(../images/avatar-06.png);
}
.testimonials .container .dev h3 {
  margin: 7px 0;
}

.testimonials .container .dev span {
  margin-bottom: 10px;
  display: block;
  color: #777;
}

.testimonials .container .dev .rate i {
  color: gold;
}
.testimonials .container .dev .rate .empty {
  color: black;
}

.testimonials .container .dev p {
  color: #777;
}
/* testimonials */

/*  TEAM MEMBERS */
.team {
  padding: var(--main-padding);
}
.team .title::before,
.team .title::after {
  background-color: #777;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
}
.team .container .card {
  position: relative;
  margin: 50px 0;
}
.team .container .card::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-56%);
  height: 111%;
  width: 0%;
  background-color: #77777749;
  transition: 1s;
  z-index: -1;
  border-radius: 5px;
}
.team .container .card:hover::after {
  width: 90%;
}
.team .container .card .data {
  position: relative;
  display: flex;
  align-items: center;
}
.team .container .card .data img {
  max-width: calc(100% - 60px);
  border-radius: 10px;
  transition: var(--main-transition);
}
.team .card:hover img {
  filter: grayscale(100%);
}

.team .container .card .data .social {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team .container .card .data .social i {
  margin: 20px auto;
  color: #777777;
}

.team .container .card .info {
  margin-left: 67px;
}
/*  TEAM MEMBERS */

/* services */
.services {
  padding: var(--main-padding);
  background-color: var(--section-background);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  align-items: center;
}
.services .container .card {
  text-align: center;
  /* border: 1px solid black; */
  counter-increment: services;
  background-color: white;
  position: relative;
  transition: var(--main-transition);
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}
.services .container .card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 0%;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.services .container .card:hover {
  transform: translatey(-10px);
}
.services .container .card:hover:before {
  width: 100%;
}
.services .container .card i {
  margin: 30px auto 20px;
  display: block;
  text-align: center;
  color: #d5d5d5;
}
.services .container .card h3 {
  font-size: 22px;
  color: var(--main-color);
  padding-bottom: 15px;
}

.services .container .card .info {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  z-index: 1;
  align-items: center;
  background-color: #f1f1f1;
}

.services .container .card .info .num {
  content: "";
  position: relative;
  width: 112px;
  height: 50px;
  top: 0px;
  left: -25px;
  background-color: var(--main-color);
  transform: skew(-34deg);
  z-index: 0;
}

.services .container .card .info .num::before {
  position: absolute;
  content: "0" counter(services);
  font-size: 26px;
  left: 43%;
  top: 50%;
  transform: translateY(-50%) skew(34deg);
  color: white;
  font-weight: bold;
}
.services .container .card .info .num::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 100%;
  background-color: #d5d5d5;
  left: 100px;
  z-index: 0;
}

.services .container .card .info .num-gray {
  padding-right: 22px;
  color: var(--main-color);
}

/* services */

/* SKILLS */
.skills {
  padding: var(--main-padding);
}

.skills .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px;
  align-items: center;
  justify-content: center;
}
.skills .container .skill-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills .container .skill-image img {
  max-width: 100%;
}
.progress {
  padding-top: 60px;
  width: 90%;
  margin: auto;
}

.prog-sec {
  padding-bottom: 25px;
  position: relative;
}

.prog-sec h3 {
  padding-bottom: 0px;
  position: relative;
  margin: 7px;
}

.Prog-line {
  width: 100%;
  height: 31px;
  background-color: #dedadc;
  position: relative;
  border-radius: 5px;
}

.Prog-line::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 90%;
  background-color: var(--main-color);
}

.prog-sec1 .Prog-line::before {
  width: 85%;
}

.prog-sec2 .Prog-line::before {
  width: 80%;
}

.prog-sec3 .Prog-line::before {
  width: 90%;
}

.prog-sec4::after {
  position: absolute;
  content: "90%";
  left: 90%;
  top: -5px;
  background-color: black;
  color: white;
  padding: 5px 7px;
  border-radius: 6px;
  transform: translateX(-50%);
}

.prog-sec1::after {
  position: absolute;
  content: "85%";
  left: 85%;
  top: -5px;
  background-color: black;
  color: white;
  padding: 5px 7px;
  border-radius: 6px;
  transform: translateX(-50%);
}

.prog-sec2::after {
  position: absolute;
  content: "80%";
  left: 80%;
  top: -5px;
  background-color: black;
  color: white;
  padding: 5px 7px;
  border-radius: 6px;
  transform: translateX(-50%);
}

.prog-sec3::after {
  position: absolute;
  content: "90%";
  left: 90%;
  top: -5px;
  background-color: black;
  color: white;
  padding: 5px 7px;
  border-radius: 6px;
  transform: translateX(-50%);
}
/* SKILLS */
/* HOW IT WORK */
.work-steps {
  padding: var(--main-padding);
  background-color: var(--section-background);
}
.work-steps .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .work-steps .container {
    flex-direction: column;
  }
}
.work-steps .container .image {
  max-width: 100%;
  margin-right: 100px;
}
@media (max-width: 767px) {
  .work-steps .container .image {
    margin: 0 0 50px;
  }
}
.work-steps .container .box {
  display: flex;
  align-items: center;
  border: 2px solid white;
  margin: 20px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
.work-steps .container .box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  background-color: rgba(255, 255, 255, 0.397);
  opacity: 0;
  z-index: 2;
}
.work-steps .container .box:hover:before {
  animation: flashing 0.7s;
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
.work-steps .container .box img {
  width: 64px;
  margin-right: 20px;
}
/* HOW IT WORK */
