/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --main-padding: 100px 0px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* header */
.header {
  background-color: #fff;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}
.logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .logo {
    width: 100%;
    height: 50px;
  }
}
.nav-bar {
  display: flex;
  height: 72px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

@media (max-width: 767px) {
  .nav-bar {
    margin: auto;
    height: 42px;
  }
}

.nav-bar > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  font-size: 16px;
  transition: var(--main-transition);
}

@media (max-width: 767px) {
  .nav-bar > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}

.nav-bar > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
.nav-bar > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.nav-bar > li > a:hover::before {
  left: 0;
}

.mega-menu {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 30px;
  border-bottom: 4px solid var(--main-color);
  background-color: white;
  z-index: -1;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  opacity: 0;
  transition: var(--main-transition);
}

.nav-bar > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}

@media (max-width: 767px) {
  .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
.mega-menu .image img {
  max-width: 100%;
}

@media (max-width: 991px) {
  .mega-menu .image {
    display: none;
  }
}

.mega-menu .links {
  min-width: 240px;
  flex: 1;
}
.mega-menu .links li {
  position: relative;
}

.mega-menu .links li:not(:last-child) {
  border-bottom: 2px solid #e9e6e6;
}

@media (max-width: 767px) {
  .mega-menu .links:first-of-type li:last-child {
    border-bottom: 2px solid #e9e6e6;
  }
}
.mega-menu .links li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: 0.4s;
  border-radius: 3px;
}

.mega-menu .links li:hover::before {
  width: 100%;
}
.mega-menu .links li a {
  color: var(--main-color);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
.mega-menu .links li a i {
  margin-right: 10px;
}
/* header */
/* landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -30px;
  left: 0;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}

.landing-img img {
  width: 600px;
  position: relative;
  animation: up-and-down 5s linear infinite;
}

@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}

@media (max-width: 850px) {
  .landing-img {
    display: none;
  }
}
.landing .container .text {
  flex: 1;
}

@media (max-width: 850px) {
  .landing .container .text {
    text-align: center;
  }
}
.landing .container .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
}

@media (max-width: 767px) {
  .landing .container .text h1 {
    font-size: 28px;
  }
}
.landing .container .text p {
  font-size: 24px;
  margin: 10px 0px;
  line-height: 1.7;
  color: rgb(126, 123, 123);
  max-width: 500px;
}
@media (max-width: 850px) {
  .landing .container .text p {
    margin: 10px auto;
    font-size: 18px;
  }
}
.go-down {
  position: absolute;
  color: var(--main-color);
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
  animation: bouncing 1.5s infinite;
}

@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-10px);
  }
}

.go-down:hover {
  color: var(--main-color-alt);
}

/* landing */
/* main title */
.title {
  padding: 10px;
  border: 2px solid black;
  margin: 0 auto 80px;
  width: fit-content;
  position: relative;
  transition: var(--main-transition);
}
.title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}

.title::before,
.title::after {
  content: "";
  position: absolute;
  top: 51%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
}
.title::before {
  left: -30px;
}
.title::after {
  right: -30px;
}
.title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}

/* main title */

/* Articles */
.Articles {
  padding: var(--main-padding);
  background-color: white;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .container .box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  border-radius: 6px;
  overflow: hidden;
  transition: var(--main-transition);
}
.articles .container .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .container .box img {
  max-width: 100%;
}

.articles .container .box .content {
  padding: 20px;
}
.articles .container .box .content h3 {
  margin: 0;
}
.articles .container .box .content p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: #777;
}
.articles .container .box .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles .container .box .info a {
  color: var(--main-color);
  font-weight: bold;
}

.articles .container .box .info i {
  color: var(--main-color);
}

.articles .container .box:hover .info i {
  transition: var(--main-transition);
  animation: moving 0.6s linear infinite;
}

@keyframes moving {
  100% {
    transform: translateX(10px);
  }
}
/* Articles */
